body {
    font-family: 'Lobster', 'Roboto', sans-serif;
    background-color: #fcefef;
    color: #4a051c;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button {
    font-family: 'Lobster', 'Roboto', sans-serif;
    font-size: 18px;
    margin: 5px;
}

button {
    background-color: #8b7355;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #704438;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px));
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.recipe-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #4c4c4c;
}

a:hover {
    text-decoration: underline;
}