<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search Application</title>
    <meta name="description" content="Tafadzwa Chingore's Recipe Search Application">
    <meta name="author" content="Tafadzwa Chingore">
    <link rel="stylesheet" href="public/styles.css">
</head>

<body>
    <div class="container">
        <h1>Recipe Search App</h1>
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search for a recipe ..." />
            <button type="submit">Search</button>
        </form>
    </div>
</body>

</html>