<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <meta name="description" content="Tafadzwa Chingore's Recipe Search Application">
    <meta name="author" content="Tafadzwa Chingore">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?familly=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Lobster+Two?query=lobster+two" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/larger.css">
</head>

<body>
    <div class="container">
        <h1>Search Results</h1>
        <ul class="recipe-list">
            <% recipes.forEach(recipe=> { %>
                <li>
                    <a href="/recipe/<%= recipe.id %>">
                        <div class="recipe-card">
                            <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
                            <h2 class="recipe-title">
                                <%= recipe.title %>
                            </h2>
                        </div>
                    </a>
                </li>
                <% }) %>
        </ul>
        <a href="/">Back to home</a>
    </div>
    <footer>
        <p>&copy;<span id="currentYear"></span></p>
        <p>Last modified: <span id="lastModified"></span></p>
    </footer>
    <script src="scripts/getDates.js"></script>
</body>

</html>